<template>
    <div>

        Adminnnnnn
        {{ee}}
        <div v-for="test in ee">{{test.username}}</div>

    </div>
</template>
<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'
  import token from './api_call/admin'
  Vue.use(VueAxios, axios)
  export default {
    data () {
      return {
        form: {},
        ee: {}
      }
    },
    methods: {
      loaddata: function () {
        var tt = this
        token.list().then(
          function (response) {
            tt.ee = response.data
          }).catch(response => {
            console.log(response)
            if (response.status === 401) {
              console.log('not login')
            }
          })
      }
    },
    mounted () {
      this.loaddata()
    }
  }

</script>
<style>

</style>
