<template>
    <div class="card">
        <div class="box  col-md-12 ">
            <div class="header">
                <h4 class="title">WeinKeller</h4>
            </div>
            <div class="content">
                <div class="col-md-3"></div>
                <form @submit.prevent="test">
                    <div class="row">
                        <div class="col-md-3">
                            <fg-input type="text"
                                      label="Username"
                                      placeholder="username"
                                      v-model="addform.username">
                            </fg-input>
                        </div>
                        <div class="col-md-3">
                            <fg-input type="text"
                                      label="Passowrd"
                                      placeholder="password"
                                      v-model="addform.password">
                            </fg-input>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'

  Vue.use(VueAxios, axios)

  export default {
    data () {
      return {
        addform: {}
      }
    },
    methods: {
      test: function () {
        var data = new FormData()
        data.append('username', this.addform['username'])
        data.append('password', this.addform['password'])
        axios.post('http://192.168.2.26:8080/cms/login', data).then(
          function (response) {
            window.location.href = '/admin?authorization=' + response.data.token
            console.log(response.data.token)
          }
        )
//          .catch(error => {
//            alert('Username or Password Wrong')
//            console.log(error)
//          })
      }
    }
  }

</script>
<style>

    body {
        background-color: #f4f3ef;
    }
</style>
